---
import mainBanner from "../../data/mainBanner";
---

<!-- video-section -->
<section class="video-section">
	<div
		class="bg-layer parallax-bg"
		data-parallax="{y=100}"
		style={`background-image: url(${mainBanner.backgroundImage});`}>
	</div>
	<div class="auto-container">
		<div class="inner-box">
			<div class="sec-title light">
				<span class="sub-title">
					{mainBanner.subtitle}
				</span>
				<h2>{mainBanner.title}</h2>
				<p style="color: white;">
					{mainBanner.description}
				</p>
				<br />
				<div class="btn-box">
					<a href={mainBanner.url} class="theme-btn btn-one"
						>{mainBanner.callToAction}</a
					>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- video-section end -->
